<!DOCTYPE html>
<html lang="en">
  <%-include partial/header%>
<body>
  <%-include partial/navigation%>
  <div class="container">
    <h2>School Applications</h2>
    <p>This is a simple school aplications using sequelize</p>
  </div>

</body>
</html>
