<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This My 1st Sequelize Apps</title>
  </head>
  <body>
    <h1><marquee style='margin-bottom: 50px;'>Halaman Utama</marquee></h1>
    <a href='/teachers'>Teachers</a></br>
    <a href='/subjects'>Subjects</a></br>
    <a href='/students'>Students</a></br>
  </body>
</html>
