<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
  </head>
  <body>
    <h1>Subjects Data</h1>
    <a href="/">Back to Home</a>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Subject Name</th>
        </tr>
      </thead>
      <tbody>
        <%if (data){data.forEach(row=>{%>
          <tr>
            <td><%=row.id%></td>
            <td><%=row.subject_name%></td>
          </tr>
        <%})}%>
      </tbody>
    </table>
  </body>
</html>
