<!DOCTYPE html>
<html>
  <head>
    <%-include partial/header%>
  </head>
  <body>
    <%-include partial/navigation%>
    <h1>Add Data Teachers</h1>
    <!-- <a href="/teachers">Return to Teachers</a><br><br> -->
    <form class="form-control" action="/teachers/add" method="post">
      First : <br>
      <input type="text" name="first_name" placeholder="First Name"><br>
      Last Name : <br>
      <input type="text" name="last_name" placeholder="Last Name"><br>
      Email : <br>
      <input type="text" name="email" placeholder="email"><br>
      Subject : <br>
      <select class="" name="SubjectId">
        <%if (data){data.forEach(rows=>{%>
          <option value="<%=rows.id%>"><%=rows.subject_name%></option>
        <%})}%>
      </select><br><br>
      <!-- <p><input type="submit" name="" value="Add Data"></p> -->
      <button class="btn btn-primary" type="submit">Add Data</button>
    </form>

  </body>
</html>
