<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <h1>Add Teachers</h1>
    <a href="/teachers">Back to Teachers</a><br><br>
    <form class="form-control" action="/teachers/add" method="post">
      First : <br>
      <input type="text" name="first_name" placeholder="First Name"><br>
      Last Name : <br>
      <input type="text" name="last_name" placeholder="Last Name"><br>
      Email : <br>
      <input type="text" name="email" placeholder="email"><br>
      Subject : <br>
      <select class="" name="SubjectId">
        <%if (data){data.forEach(rows=>{%>
          <option value="<%=rows.id%>"><%=rows.subject_name%></option>
        <%})}%>
      </select><br><br>
      <!-- <p><input type="submit" name="" value="Add Data"></p> -->
      <button class="btn btn-primary" type="submit">Add Data</button>
    </form>

  </body>
</html>
