<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class=""><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/users/add">Add Data Users</a></li>
          <li><a href="/users">View Data Users</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teachers
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/teachers/add">Add Data Teachers</a></li>
          <li><a href="/teachers">View Data Teachers</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Subjects
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <!-- <li><a href="/subjects/add">Add Data Subjects</a></li> -->
          <li><a href="/subjects">View Data Subjects</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Students
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/students/add">Add Data Students</a></li>
          <li><a href="/students">View Data Students</a></li>
        </ul>
      </li>
      <li class=""><a href="/login/logout">Logout</a></li>
    </ul>
  </div>
</nav>
